<%= provide(:title, "About") %>
    <h1>About</h1>
    <p>

      <em>Members Only</em> is an exclusive clubhouse where members can write public posts about others. The names of the posts' authors are accessible only to members. If you see a post about you on this site and want to find out who wrote it, <%= link_to "sign up now!", "#", class: "btn btn-lg btn-primary"  %>
    </p>
